<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta charset="utf-8">
	    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <title>
        	Telesource
        </title>
        
   	    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
   	    <link href="css/style.css" rel="stylesheet">
        
        <script src=/js/jquery-2.0.3.min.js></script>
        <script src=/js/main.js></script>
    </head>
    <body>  	
		<div class="container">

			<div class="navbar navbar-inverse">
				<ul class="nav navbar-nav">
					<li><a href="/" class="navbar-brand">Tele-source Server</a></li>
				</ul>
				<ul class="nav navbar-nav pull-right">
					<li><a href="/">About</a></li>
					<li><a href="/">Contact</a></li>
				</ul>
			</div>
		</div>    
		<div id="wrap">
			<div class="container">
				<%- body %>
			</div>
		</div>
		
		<div id="footer">
			<div class="container">
				<p>&copy; Template &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
			</div>
		</div>
		
    </body>    
</html>