<script src=js/openbts.js></script>
<link href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>

<div class="row">
	<div class="col-md-6" id="imsi">
		<h3> IMSI Numbers</h3>
		<hr>
		<ul id="numbers"></ul>
	</div>
	<form role="form">
	<div class="col-md-5">
	  <div class="form-group">
	    <label for="exampleInputEmail1">Email address</label>
	    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Password</label>
	    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputFile">File input</label>
	    <input type="file" id="exampleInputFile">
	    <p class="help-block">Example block-level help text here.</p>
	  </div>
	  <div class="checkbox">
	    <label>
	      <input type="checkbox"> Check me out
	    </label>
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
	</div>
	<div class="col-md-6" style="border-left: 1px solid black;">
		<form id="form" method="POST">
			<input id="inputForm" placeholder="insert message here" name="message" type="text" maxlength="160" autocomplete = "off" />
			<button id="mainButton" type="submit">send message </button>
			<span class="num">160</span>
		</form>  			
		
		<br>
		<hr>

		<div id="cellid">
			<h3>Cell ID</h3>
<!--
			<ul id="cellidInfo">
				<li>ARFCN:</li> 
				<li>MCC:</li>
				<li>MNC:</li>
				<li>LAC:</li>
			</ul>
-->

		</div>
		<hr>
	</div>
</div>