<div class="container">
	<h2>Tele-source Server</h2>
	<p>UNICEF Build</p>
	<form method="get" action="/input">
	 <div><input placeholder="insert message here" name="message" type="text" maxlength="120" /><span class="num">120</span></div>
	  <div><button id="mainButton" type="submit">send message </button></div>
	</form>  
</div>


<script>
  var interval = setInterval(function(){
    jQuery.ajax({
        url: '/tmsis'
      , success: function (res) {
          $('#numbers li').remove();
          _ref = res.split("\n");
          if(_ref.length != 0) {
             for (_i = 0, _len = _ref.length; _i < _len; _i++) {
               number = _ref[_i];
               $('#numbers').append("<li>IMSI: " + number + "</li>");
             }
             /*for (_i = 0,_i < _ref.length; _i++) {
               number = _ref[_i];
               $('#numbers').append("<li>IMSI: " + number + "</li>");
             }*/
          }
      }
    })
  }, 10*1000);
</script> 